
.icon-spin5:before{
	content: '\e800';
}
/* '' */
.icon-mail-alt:before{
	content: '\e801';
}
/* '' */
.icon-search:before{
	content: '\e802';
}
/* '' */
.icon-picture:before{
	content: '\e803';
}
/* '' */
.icon-basket-1:before{
	content: '\e804';
}
/* '' */
.icon-plus:before{
	content: '\e805';
}
/* '' */
.icon-mobile:before{
	content: '\e806';
}
/* '' */
.icon-minus:before{
	content: '\e807';
}
/* '' */
.icon-right-open-big:before{
	content: '\e808';
}
/* '' */
.icon-left-open-big:before{
	content: '\e809';
}
/* '' */
.icon-trash-empty:before{
	content: '\e80a';
}
/* '' */
.icon-phone:before{
	content: '\e80b';
}
/* '' */
.icon-up-open-mini:before{
	content: '\e80c';
}
/* '' */
.icon-down-open-mini:before{
	content: '\e80d';
}
/* '' */
.icon-check:before{
	content: '\e80e';
}
/* '' */