<!--
<div class="block yellow">
	<div class="container">
		<form class="" role="form">
			<div class="row">
				<div class="form-group col-xs-12 col-sm-9 col-md-9">
					<div class="row">
						<label class="col-sm-4 text-right" for="email">Подписка:</label>

						<div class="col-sm-8">
							<input class="form-control input-lg" id="email" type="email" placeholder="Ваш Email">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-2 col-md-2">
					<button type="submit" class="btn btn-default btn-lg">Подписаться</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="block gray">
  <div class="container">
    <h2>
      <i class="fa fa-file-text-o"></i>
      Оплата и доставка:
    </h2>
    <ol>
      <li>Стоимость доставки по Москве 300 рублей.</li>
      <li>Минимальная сумма заказа 2 000 рублей.</li>
      <li>Вы можете оплатить покупки с доставкой на дом наличными или с помощью банковских карт Visa, Visa Electron, MasterCard, MasterCard Electronic, MasterCard Maestro.</li>
      <li>Максимально допустимый общий вес товаров, которые доставляются в одном заказе, составляет не более 500 кг. При этом объем воды ограничивается 36 литрами.</li>
    </ol>
  </div>
</div>
-->

<div class="block feedback">
  <div class="container">
    <h2>
      <i class="fa fa-thumbs-o-up"></i>
      Отзывы
    </h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "2.jpg", class: "img-responsive img-circle", alt: "Eodem modot" %>
        <h3>Виктория Сикрет</h3>
        <div>
          Интернет магазин модной брендовой одежды из европы от производителя. В нашем интернет магазине представлена женская и мужская одежда, модная одежда для детей, сумки,
          аксессуары и бижутерия. Северодвинск, Архангельск, Новодвинск.
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "2.jpg", class: "img-responsive img-circle", alt: "Eodem modot" %>
        <h3>Виктория Сикрет</h3>
        <div>
          Интернет магазин модной брендовой одежды из европы от производителя. В нашем интернет магазине представлена женская и мужская одежда, модная одежда для детей, сумки,
          аксессуары и бижутерия. Северодвинск, Архангельск, Новодвинск.
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "2.jpg", class: "img-responsive img-circle", alt: "Eodem modot" %>
        <h3>Виктория Сикрет</h3>
        <div>
          Интернет магазин модной брендовой одежды из европы от производителя. В нашем интернет магазине представлена женская и мужская одежда, модная одежда для детей, сумки,
          аксессуары и бижутерия. Северодвинск, Архангельск, Новодвинск.
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "2.jpg", class: "img-responsive img-circle", alt: "Eodem modot" %>
        <h3>Виктория Сикрет</h3>
        <div>
          Интернет магазин модной брендовой одежды из европы от производителя. В нашем интернет магазине представлена женская и мужская одежда, модная одежда для детей, сумки,
          аксессуары и бижутерия. Северодвинск, Архангельск, Новодвинск.
        </div>
      </div>
    </div>
    <br/>
    <hr/>
    <p>
      <a class="btn btn-default" href="#">все отзывы</a>
      <a class="btn btn-success" href="#">написать отзыв</a>
    </p>
  </div>
</div>