p Стоимость доставки заказа весом до 5 кг. в пределах МКАД - 300 руб.
p Стоимость доставки заказа весом до 5 кг. в пределах 15 км от МКАД 350 руб.
p Заказ весом свыше 5 кг. – дополнительно к стоимости 20 руб./кг.
p Мы доставляем продукты по будням с 10.00 до 20.00 на следующий рабочий день после Вашего заказа.
p Заказы на следующий день формируем до 18.00. То есть если Вы разместили свой заказ после 18.00, он будет доставлен через день.
p Доставку в выходной день и доставку далее15 км от МКАД Вы можете индивидуально согласовать с менеджером магазина по телефону.
p Оплату наличными и пластиковыми картами принимает курьер.