p Стоимость доставки в пределах МКАД - 200 руб.
p При заказе от 2000 р. – доставка в пределах МКАД бесплатная.
p Стоимость доставки в пределах 15 км от МКАД - 350 руб. 
p При заказе от 5000 руб. доставка в пределах 15 км от МКАД бесплатная. 
p Мы доставляем продукты по будням с 12.00 до 20.00 на следующий рабочий день после Вашего заказа. 
p Доставку в выходной день и доставку далее 15 км от МКАД Вы можете индивидуально согласовать с менеджером магазина по телефону.
