p Мы доставляем мёд и другие продукты нашего магазина бесплатно в пределах МКАД по будням с 12.00 до 20.00 на следующий рабочий день после Вашего заказа.
p Доставка в пределах 15 км от МКАД стоит 300 руб.
p При заказе от 5000 руб. доставка в пределах 30 км от МКАД бесплатная.
p Доставку в выходной день Вы можете индивидуально согласовать с менеджером магазина по телефону.