<footer role="contentinfo" class="bs-docs-footer">
    <div class="container">


        <div class="row">
            <%= render partial: 'shared/social_btn' %>
        </div>


        <div class="row">
            <i class="fa fa-copyright"></i>
            ФитоМёд
        </div>
        <div class="row">
            <div class="create">
                Разработка сайта -
                <%= link_to 'http://rocket-web.ru/', { :target => '_blank' } do %>
                    <%= image_tag "rocket-web.png", alt: "Веб студия Rocket-web" %>
                <%- end %>
            </div>
        </div>
    </div>
</footer>