<footer role="contentinfo" class="bs-docs-footer">
    <div class="container">


        <div class="row">
            <noindex>
                <script type="text/javascript">(function () {
	                if (window.pluso) {
		                if (typeof window.pluso.start == "function") {
			                return;
		                }
	                }
	                if (window.ifpluso == undefined) {
		                window.ifpluso = 1;
		                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
		                s.type = 'text/javascript';
		                s.charset = 'UTF-8';
		                s.async = true;
		                s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
		                var h = d[g]('body')[0];
		                h.appendChild(s);
	                }
                })();
                </script>
                <div class="pluso" data-background="transparent" data-options="big,square,line,horizontal,nocounter,theme=01" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,livejournal,blogger,pinterest"></div>
            </noindex>
        </div>


        <div class="row">
            <i class="fa fa-copyright"></i>
            ФитоМёд
        </div>
        <div class="row">
            <div class="create">
                Разработка сайта -
                <%= link_to 'http://rocket-web.ru/', { :target => '_blank' } do %>
                    <%= image_tag "rocket-web.png", alt: "Веб студия Rocket-web" %>
                <%- end %>
            </div>
        </div>
    </div>
</footer>