<div class="sidebar-title">Каталог товаров</div>
<ul class="nav nav-sidebar">
	<li class="nav-sidebar-item">
		<%=link_to 'Каталог товаров', products_path%>
		<i class="fa fa-angle-right"></i>
	</li>
	<li class="nav-sidebar-item">
		<a href="">Nav item</a>
		<i class="fa fa-angle-right"></i>
	</li>
	<li class="nav-sidebar-item">
		<a href="">Nav item again</a>
		<i class="fa fa-angle-right"></i>
	</li>
	<li class="nav-sidebar-item">
		<a href="">One more nav</a>
		<i class="fa fa-angle-right"></i>
	</li>
	<li class="nav-sidebar-item">
		<a href="">Another nav item</a>
		<i class="fa fa-angle-right"></i>
	</li>
	<li class="nav-sidebar-item"><a href="">More navigation</a></li>
</ul>