<%- content_for :title do %>
    Онлайн магазин мёда fitohoney.ru | 
<%- end %>
<%- content_for :breadcrumb do %>
	<ol class="breadcrumb">
	  <li>
	    <%= link_to 'Главная', root_path %>
	  </li>
	  <li class="active">
	    Онлайн магазин мёда fitohoney.ru
	  </li>
	</ol>
<%- end %>


<div class="container content-page">
  <h1 class="page-header">Онлайн магазин мёда fitohoney.ru</h1>
  
  <p>
    Мы очень любим мёд и перепробовали много разных его видов на рынках, ярмарках и в магазинах. Печально, но нам так и не удалось купить натуральный домашний мёд в Москве и Подмосковье.
    Так устроен медовый бизнес, что настоящий мёд продавать в магазинах не выгодно, даже убыточно для пчеловодов. Ведь организовать честное пасечное хозяйство – процесс не быстрый и не дешевый. Закупочные же цены магазинов очень низкие, ведь они привыкли закупать тоннами
    китайский фальсификат. В итоге, чтобы быстро получить хорошую прибыль хотя бы за счет объемов, многие пчеловоды теперь так же фальсифицируют свою продукцию.
  </p>
  <p>
    Вот мы и решили открыть магазин на 100% честного природного и без преувеличения уникального по качеству мёда.    
  </p>
  <p>
    Все, что продается в нашем магазине, мы привозим из экологически чистого района на границе Тульской и Калужской областей, где находится наша пасека. Поблизости нет никакого производства и сельхозугодий, которые бы обрабатывались химикатами. А ведь проблема экологии одна из
    самых острых сейчас в пчеловодстве. В радиусе 200 км от Москвы сложно найти абсолютно чистое место для пасеки. Нам пришлось ехать дальше в настоящую глубинку, где мы и организовали свое пасечное хозяйство в чистом поле, окруженном лесом, недалеко от курорта минеральной воды.
    Чистая вода тоже влияет на качество мёда, ведь её пьют растения, которые опыляются пчёлами.    
  </p>
  <p>
    Наш мёд пчелы собирают с целебных трав и цветов, которые в изобилии растут вокруг: тысячелистник, шалфей, тимьян, валериана, ромашка, клевер, зверобой, земляника, василёк, одуванчик, пустырник, лесная малина.
  </p>
  <p>
    Гречишный мёд пчелы добывают на поле, засеянном гречихой в период её цветения в июле. Липовый мёд из липняка мы откачиваем после цветения липы.    
  </p>
  <p>
    Поначалу мы радовали своим мёдом друзей и знакомых, которые и посоветовали нам сделать наш вкусный мёд доступным для многих людей, ведь он дарит здоровье, продлевает молодость и сохраняет красоту.
  </p>
  <p>
    Цена нашего мёда складывается из затрат по организации пасеки, где почти круглогодично работают несколько человек, из стоимости фасовки и транспортных расходов.
  </p>
  <p>
    Сам же мёд – дар природы. И мы счастливы, что все больше и больше людей становятся настоящими ценителями этого эликсира жизни.
  </p>

</div>  