@font-face{
	font-family: "RobotoCondensedRegular";
	src: image-url('fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot');
	src: image-url("fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"),
	image-url("fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
	image-url("fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "RobotoCondensedLight";
	src: image-url("fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
	src: image-url("fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"),
	image-url("fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
	image-url("fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "RobotoCondensedBold";
	src: image-url("fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
	src: image-url("fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"),
	image-url("fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
	image-url("fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

