.media{
    margin-top: 30px;
}
.media-body{
}
.media-title{
    margin: 0 0 5px;
    font-size: $font-size-h4;
}
.media-date{
    margin-bottom: 5px;
    font-size: 12px;
    color: $gray-light;
}
.thumbnail.pull-left{
    margin-right: 22px;
}
.media-shared{
    font-size: 18px;
}